@import "./common/common.css";
@import "./common/header.css";
@import "./common/footer.css";

body {
  min-width: 1200px;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  body {
    min-width: 0;
  }
}
@media screen and (max-width: 767.98px) {
  body {
    min-width: 0;
  }
}

main {
  /* border: 1px solid yellow; */
  width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  main {
    max-width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  main {
    max-width: 100%;
  }
}

/* 圖片共同設定 */
img {
  max-width: 100%;
}

/* P1 */
main div.service_p1 {
  width: 816px;
  margin: 150px auto 170px;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  main div.service_p1 {
    max-width: 100%;
  }
}
@media screen and (min-width: 711px) and (max-width: 767.98px) {
  main div.service_p1 {
    max-width: 100%;
  }
}
@media screen and (max-width: 710.98px) {
  main div.service_p1 {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 120px;
  }
}

main div.service_p1 > div.intro {
  width: 378px;
  /* border: 1px solid green; */
}
@media screen and (max-width: 710.98px) {
  main div.service_p1 > div.intro {
    order: 2;
  }
}

main div.service_p1 > div.intro p {
  margin: 0;
}

main div.service_p1 > div.intro > p {
  font-size: 20px;
  margin-top: 85px;
}
@media screen and (max-width: 710.98px) {
  main div.service_p1 > div.intro > p {
    margin-top: 50px;
    text-align: center;
  }
}

main div.service_p1 > div.intro > div {
  width: 288px;
  margin: 60px 0px 0px 90px;
}
@media screen and (max-width: 710.98px) {
  main div.service_p1 > div.intro > div {
    margin: 40px auto 0px;
  }
}

main div.service_p1 > div.intro > div p {
  font-size: 40px;
}

main div.service_p1 > div.intro > div p:nth-child(2) {
  color: yellow;
  direction: rtl;
}

/* P1 圖片 */
main div.service_p1 > div:nth-child(2) {
  width: 328px;
  height: 328px;
}
@media screen and (max-width: 710.98px) {
  main div.service_p1 > div:nth-child(2) {
    order: 1;
  }
}

/* P2 */
main div.service_p2 {
  width: 100vw;
  margin: 0 calc(50% - 50vw) 88px;
  /* border: 1px solid red; */
  position: relative;
  top: 0;
  left: 0;
}

main div.service_p2 > div {
  margin-bottom: 10px;
}

/* slick */
div.p2_carousel img {
  height: 200px;
}
@media screen and (max-width: 767.98px) {
  div.p2_carousel img {
    height: 150px;
  }
}

.slick-slide {
  margin-right: 8px;
}

/* P3 */
main div.service_p3 {
  width: 892px;
  margin: 0 auto 145px;
  /* border: 1px solid red; */
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  main div.service_p3 {
    max-width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  main div.service_p3 {
    max-width: 100%;
    margin-bottom: 100px;
  }
}

/* 副標題 */
main div.service_p3 > p {
  margin: 0px auto 90px;
}
@media screen and (max-width: 767.98px) {
  main div.service_p3 > p {
    margin-bottom: 40px;
  }
}

/* content */
main div.service_p3 div.content {
  font-family: "JhengHei-custom";
  text-align: center;
  /* border: 1px solid orange; */
}

main div.service_p3 div.content > div {
  /* border: 1px solid yellow; */
}

main div.service_p3 div.content > div:nth-child(1),
main div.service_p3 div.content > div:nth-child(2) {
  display: flex;
}

main div.service_p3 div.content > div:nth-child(2),
main div.service_p3 div.content > div:nth-child(3) {
  margin-bottom: 20px;
}

main div.service_p3 div.content > div:nth-child(1) {
  justify-content: space-between;
  margin-bottom: 45px;
}
@media screen and (max-width: 767.98px) {
  main div.service_p3 div.content > div:nth-child(1) {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  main div.service_p3 div.content > div:nth-child(1) div {
    flex-shrink: 0;
    width: 50%;
  }

  main div.service_p3 div.content > div:nth-child(1) > div:nth-child(1),
  main div.service_p3 div.content > div:nth-child(1) > div:nth-child(2) {
    width: 50%;
    margin-bottom: 30px;
    position: relative;
  }

  main div.service_p3 div.content > div:nth-child(1) > div:nth-child(1)::after,
  main div.service_p3 div.content > div:nth-child(1) > div:nth-child(2)::after {
    content: "";
    border-bottom: 2px solid white;
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100%;
  }
}

main div.service_p3 div.content > div:nth-child(2) {
  justify-content: center;
}
@media screen and (max-width: 767.98px) {
  main div.service_p3 div.content > div:nth-child(2) {
    flex-direction: column;
  }
}

main div.service_p3 div.content > div:nth-child(4) {
  margin-bottom: 100px;
}

/* P3文字 */
/* 第一排 */
main div.service_p3 div.content p {
  font-size: 10px;
  margin: 0;
}

main div.service_p3 div.content > div > div > p {
  font-size: 14px;
}

main div.service_p3 div.content > div > div > p:nth-child(1) {
  font-size: 18px;
  margin-bottom: 23px;
}

/* 第二排 */
main div.service_p3 div.content > div > p:nth-child(2) {
  margin: 0px 20px;
}
@media screen and (max-width: 767.98px) {
  main div.service_p3 div.content > div > p:nth-child(2) {
    margin: 8px;
  }
}

/* 預約button */
main div.service_p3 button {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px 4px 15px;
  font-size: 28px;
  background-color: #f5df2f;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

main div.service_p3 button:hover {
  background-color: #f5df2f;
  color: white;
  box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.5);
}
