@import "./common/common.css";
@import "./common/header.css";
@import "./common/footer.css";

body {
  min-width: 1200px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  body {
    min-width: 0;
  }
}
@media screen and (max-width: 767.98px) {
  body {
    min-width: 0;
    max-width: 100%;
  }
}

main {
  /* border: 1px solid yellow; */
  width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  main {
    max-width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  main {
    max-width: 100%;
  }
}

/* 背景line */
main > div.line {
  width: 100%;
  height: 100px;
  /* border: 1px solid yellow; */
  padding-left: 50%;
  margin-bottom: 45px;
}

/* P1 */
main div.shop_p1 {
  width: 740px;
  /* border: 1px solid blue; */
  margin: 264px auto 103px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767.98px) {
  main div.shop_p1 {
    max-width: 100%;
    flex-direction: column;
    margin: 100px auto 50px;
    align-items: center;
  }
}

main div.shop_p1 > div {
  width: 180px;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 767.98px) {
  main div.shop_p1 > div {
    margin-bottom: 40px;
  }

  main div.shop_p1 > div:last-child {
    margin-bottom: 0px;
  }
}

main div.shop_p1 > div > div {
  width: 180px;
  height: 200px;
  border: 3px solid #707070;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  margin-bottom: 50px;
}
@media screen and (max-width: 767.98px) {
  main div.shop_p1 > div > div {
    margin-bottom: 30px;
  }
}

main div.shop_p1 > div > div > a {
  display: block;
  width: 100%;
  height: 100%;
}

main div.shop_p1 > div > p {
  margin: 0;
  text-align: center;
  font-size: 28px;
  position: absolute;
  bottom: -10px;
}

/* P1圖片單一設定 */
main div.shop_p1 > div > div.toggle1 {
  background-image: url("../img/shop/film.jpg");
}

main div.shop_p1 > div > div.toggle2 {
  background-image: url("../img/shop/other.jpg");
}

main div.shop_p1 > div > div.toggle3 {
  background-image: url("../img/shop/service.jpg");
}

/* hover效果 */
main div.shop_p1 > div > div:hover {
  box-shadow: 0px 0px 3px 3px #f5df2f;
  border: none;
}

/* P2 */
main div.shop_p2 {
  margin-bottom: 45px;
  width: 1200px;
  /* border: 1px solid blue; */
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  main div.shop_p2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  main div.shop_p2 {
    max-width: 100%;
  }
}

main div.shop_p2 > div {
  width: 100%;
  /* border: 1px solid white; */
}

main div.shop_p2 > div img {
  width: 100%;
  height: 100%;
}

/* slick修改 */
ul.slick-dots {
  bottom: 0;
}

/* 按鈕共同設定 */
main div.shop_p2 > button {
  z-index: 3;
  width: 70px;
  height: 420px;
}

main div.shop_p2 > button::before {
  content: "";
}

main div.shop_p2 > button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* prev */

main div.shop_p2 > button.slick-prev {
  left: 0;
}

/* next */
main div.shop_p2 > button.slick-next {
  right: 0;
}

/* P3 */
main div.shop_p3 {
  width: 1030px;
  margin: 0 auto 45px;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  main div.shop_p3 {
    max-width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  main div.shop_p3 {
    max-width: 100%;
  }
}

main div.shop_p3 > p {
  margin: 0px auto 60px;
}
@media screen and (max-width: 767.98px) {
  main div.shop_p3 > p {
    margin-bottom: 40px;
  }
}

/* 分類表 */
main div.shop_p3 div.filter {
  width: 485px;
  /* border: 1px solid red; */
  margin-bottom: 60px;
  font-family: "JhengHei-custom";
}
@media screen and (max-width: 767.98px) {
  main div.shop_p3 div.filter {
    max-width: 100%;
  }
}

main div.shop_p3 div.filter form > div {
  display: flex;
  flex-direction: column;
}

main div.shop_p3 div.filter form > div > div {
  display: flex;
  /* border: 1px solid blue; */
  margin-bottom: 15px;
  align-items: center;
}

main div.shop_p3 div.filter form > div > div:last-child {
  margin: 30px 0px 0px 0px;
}

main div.shop_p3 div.filter form > div > div p {
  width: 100px;
  height: 100%;
  text-align: center;
  margin-right: 40px;
  border-right: 2px solid white;
}

/* 顏色 */
main div.shop_p3 div.filter form > div > div.color > div {
  margin-right: 15px;
}

main div.shop_p3 div.filter form > div > div.color > div > label {
  display: inline-block;
  padding: 0;
  cursor: pointer;
}

main
  div.shop_p3
  div.filter
  form
  > div
  > div.color
  > div
  > label
  input[type="checkbox"] {
  display: none;
}

main
  div.shop_p3
  div.filter
  form
  > div
  > div.color
  > div
  > label
  input[type="checkbox"]
  + span {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 8px 30px;
  user-select: none;
  background-color: white;
  color: black;
  border-radius: 15px;
}

main
  div.shop_p3
  div.filter
  form
  > div
  > div.color
  > div
  > label
  input[type="checkbox"]:checked
  + span {
  color: yellow;
  background-color: #707070;
}

/* 感光度 */
main div.shop_p3 div.filter form > div > div.iso select {
  width: 92px;
  border-radius: 15px;
  padding: 5px 0px 5px 25px;
  cursor: pointer;
}

/* 規格品牌 */
main div.shop_p3 div.filter form > div > div.brand > div.brand_select {
  width: 300px;
  /* border: 1px solid brown; */
  position: relative;
}

main
  div.shop_p3
  div.filter
  form
  > div
  > div.brand
  > div.brand_select
  > div:first-child {
  /* border: 1px solid green; */
  background-color: white;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

main
  div.shop_p3
  div.filter
  form
  > div
  > div.brand
  > div.brand_select
  > div:first-child
  span {
  display: block;
  width: 100%;
  height: 36px;
  text-align: center;
  padding: 10px 0px;
  color: black;
  position: relative;
  z-index: 2;
}

/* 規格品牌-下拉符號 */
main
  div.shop_p3
  div.filter
  form
  > div
  > div.brand
  > div.brand_select
  > div:first-child
  > div {
  position: absolute;
  z-index: 1;
  color: black;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

main
  div.shop_p3
  div.filter
  form
  > div
  > div.brand
  > div.brand_select
  > div:nth-child(2) {
  border: 2px solid gray;
  width: 300px;
  background-color: white;
  position: absolute;
  top: 38px;
  left: 0;
  display: flex;
  z-index: 3;
  visibility: hidden;
}
@media screen and (max-width: 482.98px) {
  main
    div.shop_p3
    div.filter
    form
    > div
    > div.brand
    > div.brand_select
    > div:nth-child(2) {
    max-width: 100%;
  }
}

.show {
  visibility: visible;
}

main
  div.shop_p3
  div.filter
  form
  > div
  > div.brand
  > div.brand_select
  > div:nth-child(2)
  > select {
  width: 120px;
  border: none;
}
@media screen and (max-width: 482.98px) {
  main
    div.shop_p3
    div.filter
    form
    > div
    > div.brand
    > div.brand_select
    > div:nth-child(2)
    > select {
    width: 100%;
  }

  main
    div.shop_p3
    div.filter
    form
    > div
    > div.brand
    > div.brand_select
    > div:nth-child(2)
    > select
    option {
    text-align: center;
  }
}

main
  div.shop_p3
  div.filter
  form
  > div
  > div.brand
  > div.brand_select
  > div:nth-child(2)
  > select
  option:hover {
  color: white;
  background-color: #3297fd;
}

main
  div.shop_p3
  div.filter
  form
  > div
  > div.brand
  > div.brand_select
  > div:nth-child(2)
  > div.img_place {
  min-height: 180px;
  /* border: 1px solid pink; */
  flex-grow: 1;
  position: relative;
}
@media screen and (max-width: 482.98px) {
  main
    div.shop_p3
    div.filter
    form
    > div
    > div.brand
    > div.brand_select
    > div:nth-child(2)
    > div.img_place {
    display: none;
  }
}

main
  div.shop_p3
  div.filter
  form
  > div
  > div.brand
  > div.brand_select
  > div:nth-child(2)
  > div.img_place
  > ul {
  color: black;
  margin: 0;
  padding: 0;
  list-style: none;
}

main
  div.shop_p3
  div.filter
  form
  > div
  > div.brand
  > div.brand_select
  > div:nth-child(2)
  > div.img_place
  > ul
  > li {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

main
  div.shop_p3
  div.filter
  form
  > div
  > div.brand
  > div.brand_select
  > div:nth-child(2)
  > div.img_place
  > ul
  > li
  > img {
  width: 150px;
}

/* P3送出按鈕 */

main div.shop_p3 div.filter form > div > div.button {
  justify-content: center;
}

main div.shop_p3 div.filter form > div > div.button > div > button {
  padding: 8px 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

main div.shop_p3 div.filter form > div > div.button > div > button:first-child {
  margin-right: 20px;
}

/* P3 底片carousel */
main div.shop_p3 div.p3_content {
  width: 870px;
  margin: 0 auto;
  padding-bottom: 20px;
  /* border: 1px solid yellow; */
  padding-left: 18px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  main div.shop_p3 div.p3_content {
    width: 648px;
    padding-left: 8px;
  }
}
@media screen and (max-width: 767.98px) {
  main div.shop_p3 div.p3_content {
    width: 280px;
    padding-left: 15px;
  }
}

/* slick (P3.P4) */
/* 圖片 */
div.slick-slide img {
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 767.98px) {
  div.slick-slide img {
    width: 120px;
    height: 120px;
  }
}

/* 按鈕 */
main div.p3_content > button,
main div.p4_content > button {
  width: 60px;
  height: 60px;
}

main div.p3_content > button::before,
main div.p4_content > button::before {
  font-size: 60px;
}

/* prev  */
main div.p3_content > button.slick-prev,
main div.p4_content > button.slick-prev {
  left: -80px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  main div.p3_content > button.slick-prev,
  main div.p4_content > button.slick-prev {
    left: -60px;
  }
}

/*  next  */
main div.p3_content > button.slick-next,
main div.p4_content > button.slick-next {
  right: -80px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  main div.p3_content > button.slick-next,
  main div.p4_content > button.slick-next {
    right: -60px;
  }
}

/* 圖片置中 */
div.p3_content div.slick-slide > div > div,
div.p4_content div.slick-slide {
  /* border: 1px solid blue; */
  position: relative;
}

/* a標籤 */
div.p3_content div.slick-slide > div > div > a,
div.p4_content div.slick-slide > a {
  display: block;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 767.98px) {
  div.p3_content div.slick-slide > div > div > a,
  div.p4_content div.slick-slide > a {
    width: 120px;
    height: 120px;
  }
}

div.p3_content div.slick-slide > div > div > a:hover,
div.p4_content div.slick-slide > a:hover {
  border: 3px solid #f5df2f;
}

/* P4 */
main div.shop_p4 {
  width: 1030px;
  margin: 0 auto 114px;
  /* border: 1px solid green; */
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  main div.shop_p4 {
    max-width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  main div.shop_p4 {
    max-width: 100%;
  }
}

main div.shop_p4 > p {
  margin: 0px auto 104px;
}
@media screen and (max-width: 767.98px) {
  main div.shop_p4 > p {
    margin-bottom: 40px;
  }
}

main div.shop_p4 div.p4_content {
  width: 870px;
  margin: 0 auto;
  padding-bottom: 25px;
  /* border: 1px solid yellow; */
  padding-left: 18px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  main div.shop_p4 div.p4_content {
    width: 648px;
    padding-left: 8px;
  }
}
@media screen and (max-width: 767.98px) {
  main div.shop_p4 div.p4_content {
    width: 280px;
    padding-left: 15px;
  }
}
