footer {
  min-width: 1200px;
  height: 200px;
  background-color: #efefef;
  position: relative;
  /* border: 1px solid red; */
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  footer {
    min-width: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  footer {
    display: flex;
    min-width: 0;
    max-width: 100%;
    justify-content: center;
  }
}

footer p {
  color: black;
}

footer > div {
  max-width: 1200px;
  height: 200px;
  display: flex;
  margin: 0 auto;
  padding: 0 100px;
  justify-content: space-between;
  /* border: 1px solid green; */
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  footer > div {
    padding: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  footer > div {
    display: inline-block;
    max-width: 100%;
    padding: 0px 5px;
  }
}

/* information內部設定 */
footer > div div.information {
  display: flex;
  height: 150px;
  margin: 25px 0;
  padding: 0;
  /* border: 1px solid green; */
  align-items: center;
}

footer div div.information div:nth-child(1) {
  width: 150px;
  height: 150px;
  display: inline-block;
  /* border: 1px solid blueviolet; */
  background-image: url("../../img/footer/FancyMapsMap.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  footer div div.information div:nth-child(1) {
    width: 120px;
    height: 120px;
    margin-right: 10px;
  }
}

footer div div.information div:nth-child(2) {
  display: inline-block;
  width: 218px;
  height: 150px;
  /* border: 1px solid white;  */
  vertical-align: top;
}
/* 店家資訊文字 */
footer div div.information div:nth-child(2) p {
  line-height: 1.8;
  margin: 18px 0px;
}

/* schema內部設定 */
footer div div.schema {
  /* border: 1px solid darkred; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  footer div div.schema {
    width: 378px;
  }
}

@media screen and (max-width: 767.98px) {
  footer div div.schema {
    display: none;
  }
}

/* grid排版 */
footer div div.schema div:nth-child(1) {
  /* border: 1px solid darkorange; */
  display: grid;
  grid-template-areas: ". . . ." ". . film ." ". know other ." ". class services .";
  gap: 10px 20px;
  margin-top: 25px;
}

footer div div.schema div p {
  display: inline-block;
  text-align: center;
  margin: 0;
}

/* grid文字排版 */
/* 課程報名word9 (與word10在原本HTML位置上有互換)*/
footer div div.schema div p.word9 {
  grid-area: class;
}

/* 周邊附件word10 */
footer div div.schema div p.word10 {
  grid-area: other;
}

footer div div.schema div p.word11 {
  grid-area: services;
}

/* Tibame宣告 */
footer div.tibametxt {
  color: gray;
  font-family: "DFKai-SB";
  font-size: 10px;
  text-align: center;
}

/* top按鈕 */
footer > button.top {
  position: absolute;
  top: -72px;
  right: 62px;
  width: 50px;
  height: 48px;

  padding: 0px 5px 5px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  /* border: 1px solid pink; */
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  transition: transform 1s;
}

footer > button.top:hover {
  transform: translateY(-30%);
  color: #f5df2f;
  cursor: pointer;
}

@media screen and (max-width: 767.98px) {
  footer > button.top {
    right: calc(50% - 25px);
    top: -60px;
  }
}
