footer{
    min-width: 1200px;
    height: 200px;
   background-color: #EFEFEF;
   position: relative;
}

footer p{
    color: black;
}

footer > div {
    width: 1200px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    padding: 0 100px;
    justify-content: space-between;
    

}

/* information內部設定 */
footer div div.information{
    display: flex;
    height: 150px;
    margin: auto 0;
    padding: 0;
    /* border: 1px solid green; */
    margin-right: 125px;
}

footer div div.information div:nth-child(1){
width: 150px;
height: 150px;
display: inline-block;
/* border: 1px solid blueviolet; */
background-image: url("../../img/footer/FancyMapsMap.svg");
margin-right: 20px;
}

footer div div.information div:nth-child(2){
    display: inline-block;
    width: 218px;
    height: 150px;
    /* border: 1px solid white;  */
    vertical-align: top; 
}
/* 店家資訊文字 */
footer div div.information div:nth-child(2) p{
line-height: 1.8;
margin: 18px 0px;
}


/* schema內部設定 */
footer div div.schema{
/* border: 1px solid darkred; */
display: flex;
flex-direction:column;
justify-content: space-between;
}

/* grid排版 */
footer div div.schema div:nth-child(1){
    /* border: 1px solid darkorange; */
    display: grid;
    grid-template-areas: ". . . ." ". . film film" "know know other other" "class class services services";
    gap: 10px 20px;
    margin-top: 25px;
}

footer div div.schema div p{
    display: inline-block;
    text-align: center;
    margin: 0;


}

/* grid文字排版 */
footer div div.schema div p.word7{
    grid-area: film;
    text-align: left;
    text-indent: 2em;
}

footer div div.schema div p.word8{
    grid-area: know;
    direction: rtl;
    text-align: right;
    text-indent: 43px;
}

/* 課程報名word9 (與word10在原本HTML位置上有互換)*/
footer div div.schema div p.word9{
    grid-area: class;
    direction: rtl;
    text-align: right;
    text-indent: 50px;
}

/* 周邊附件word10 */
footer div div.schema div p.word10{
    grid-area: other;
    text-align: left;
    text-indent: 18px;
}

footer div div.schema div p.word11{
    grid-area: services;
    text-align: left;
    text-indent: 18px;
}

/* Tibame宣告 */
footer div.tibametxt{
    color: gray;
    font-family: "DFKai-SB";
    font-size: 10px;
    text-align: center;

}


/* top按鈕 */
footer > button.top{
    position: absolute;
    top: -74px;
    right: 132px;
    width: 50px;
    height: 48px;  
    padding: 0px 5px 5px 0; 
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    transition: transform 1s;
}

footer > button.top:hover{ 
    transform: translateY(-30%);
    color: #f5df2f;
    
}